.card {
    display: grid;
    grid-template-rows: max-content auto;
    gap: 16px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__info {
    display: flex;
}

.card__info > img {
    width: 64px;
}

.card__info__name {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card__info__name--text {
    font-size: 1.75rem;
    display: flex;
    font-weight: 600;
    align-items: center;
}

.card__info__name--at {
    font-size: 1.25rem;
    display: flex;
    color: #525252;
    align-items: center;
}

.card__content {
    font-size: 1.5rem;
    color: #525252;
}

@media screen and (min-width: 375px) {
    .card {
        width: 100%;
        padding: 16px;
    }

    .card__info {
        gap: 16px;
    }
} 

@media screen and (min-width: 768px) {
    .card {
        width: 100%;
        padding: 32px;
    }

    .card__info {
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 1280px;
        padding: 32px;
    }

    .card__info {
        gap: 32px;
    }
}