.card {
    display: grid;
    grid-template-rows: max-content auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__info {
    display: flex;
}

@media screen and (min-width: 375px) {
    .card {
        width: 100%;
        padding: 16px;
    }

    .card__info {
        gap: 16px;
    }
} 

@media screen and (min-width: 768px) {
    .card {
        width: 100%;
        padding: 32px;
    }

    .card__info {
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 1280px;
        padding: 32px;
    }

    .card__info {
        gap: 32px;
    }
}